<%= javascript_include_tag "home" %>


  <section class="page-content-box" id="page-content-box">

<!--       <div class="overlay_box" id="overlay_box"> -->

      <h1>Officers</h1>
      </br>    
      <%= link_to 'Jason Pedicone', 'http://paideia-institute.org/profiles' -%><p>President and Director of U.S. Operations.</p>
      <%= link_to 'Eric Hewett', 'http://paideia-institute.org/profiles' -%><p>Treasurer and Director of European Operations.</p>
      <%= link_to 'Donna Zuckerberg', 'http://paideia-institute.org/profiles' -%><p>Donna Zuckerberg, Secretary and Director of Development.</p>
      </br>    
      </br>    
      
      <h1>Board of Directors</h1>
      </br>    
	    
      <%= link_to 'Matthew McGowan', 'http://faculty.fordham.edu/mamcgowan/' %><p>Professor of Classics at Fordham University.</p>
      <p>Msgr. Daniel Gallagher, Secretary of Latin Letters, Vatican Secretariat of State.</p>
      <p>Leah Whittington, Professor of Classics and English at Harvard University.</p>
      </br>    
      </br>    

      <h1>Advisory Board</h1>
      </br>    
      <p>Leah Whittington, Professor of Classics and English at Harvard University.</p>
      <p>Anthony Grafton, Professor of History at Princeton University.</p>
      <p>Michael Fontaine, Professor of Classics at Cornell University.</p>
      </br>    
      </br>    

      <h1>Junior Board</h1>
      </br>    
      <p>Caroline Joost, LLiRHS '12</p>
      <p>Solomon Cohen, LLiRHS '12</p>
      <p>Jonathan Marrow, LLiRHS '12</p>
      </br>    
      </br>    

      
<!--       </div> -->
      
      </br>    
      
    </section>